body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#main-navbar{
	background-color: blue;
	text-align: center;
	font-size: 20px;
	width: 100%;
	font-weight: bold;
	position: relative;
}